# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/
ENV/
.env/
myenv/

# Environment files / secrets
.env
**/.env

# Project build artifacts
.build/
**/.build/
*.zip

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log

# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars
**/terraform.tfvars.json


# will add actions folder later but ignore for now we dont want to trigger github actions and destroy aws resources
/.github/workflows/

/.build/
